<!-- <router-outlet></router-outlet> -->
<!-- <input type="text" name="name" placeholder="this is an input." /> -->
<!-- <wx-alert></wx-alert> -->
<!-- <wx-checked-table></wx-checked-table> -->
<!-- <wx-auto-textarea></wx-auto-textarea>
<table border="1" style="width: 100%">
    <tr>
        <td>姓名</td>
    </tr>
    <tr *ngFor="let item of items">
        <td>
            <ng-container *ngTemplateOutlet="link; context: {$implicit:item,row:item,value:item.age}"></ng-container>
            <ng-template #link let-row="row" let-value="value"><a (click)="showAlert('这里是超链接')">{{value}}</a> </ng-template>
        </td>
    </tr>
</table>

<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr>
<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template> -->
<iframe src="../assets/text.html"></iframe>